.to-do__item {
  padding: 2vh 2vh 2vh 0;
  background: transparent;
  border: none;
  border-radius: 3px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.to-do__item::before {
  list-style: none;
  counter-increment: task;
  content: '#' counter(task);
  padding: 1em;
  margin-right: 2vh;
  line-height: 1;
  font-weight: bold;
  background: transparent;
}

.to-do__item::marker {
  content: none;
}
