.to-do__item {
  font-size: 1.5em;
  padding: 1em 1em 1em 0;
  background: transparent;
  border: none;
  border-radius: 3px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.to-do__item::before {
  list-style: none;
  counter-increment: task;
  content: '#' counter(task);
  padding: 1em;
  margin-right: 12px;
  font-weight: bold;
  font-size: 1em;
  background: transparent;
}

.to-do__item::marker {
  content: none;
}
