.root {
  background: -o-linear-gradient(135deg, #537895, #2e5572, #09203f, black);
  background: linear-gradient(-45deg, #537895, #2e5572, #09203f, black);
  color: #fff;
  background-size: 300% 300%;
  background-attachment: fixed;
}

.header {
  background-image: -o-radial-gradient(
    center top,
    50% 50% ellipse,
    rgb(13, 53, 108) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: radial-gradient(
    50% 50% ellipse at center top,
    rgb(13, 53, 108) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header__button {
  color: rgb(251, 127, 113);
  -webkit-box-shadow: inset 0 0 6px 3px rgba(251, 127, 113, 0.575);
  box-shadow: inset 0 0 6px 3px rgba(251, 127, 113, 0.575);
}

.to-do__title {
  text-shadow: 2px 2px rgba(255, 255, 124, 0.849);
}

.to-do__subtitle {
  background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8c5059;
}

.to-do__item {
  color: rgb(251, 127, 113);
  -webkit-box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
  box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
}

.to-do__item::before {
  border-right: 1px solid rgba(255, 255, 124, 0.849);
  color: rgb(251, 127, 113);
  background: transparent;
}

.form__input {
  color: rgb(251, 127, 113);
  -webkit-box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
  box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
  outline: salmon;
}

.form__input:focus {
  color: rgb(251, 127, 113);
  -webkit-box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
  box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
  outline: salmon;
}

.form__input::-webkit-input-placeholder {
  /* Edge */
  color: rgb(251, 127, 113);
}

.form__input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(251, 127, 113);
}

.form__input::-moz-placeholder {
  color: rgb(251, 127, 113);
  font-size: 1em;
}

.form__input:-ms-input-placeholder {
  color: rgb(251, 127, 113);
  font-size: 1em;
}

.form__input::placeholder {
  color: rgb(251, 127, 113);
  font-size: 1em;
}

.form__input_type_task {
  background: transparent;
}

.form__input-error {
  color: rgba(255, 0, 0, 0.671);
}

.form__input_type_error {
  color: rgba(255, 0, 0, 0.671);
  -webkit-box-shadow: 0 0 6px 3px rgba(255, 0, 0, 0.671);
  box-shadow: 0 0 6px 3px rgba(255, 0, 0, 0.671);
}

.form__input_type_error:focus {
  color: rgba(255, 0, 0, 0.671);
  -webkit-box-shadow: 0 0 6px 3px rgba(255, 0, 0, 0.671);
  box-shadow: 0 0 6px 3px rgba(255, 0, 0, 0.671);
}

.form__button {
  color: rgb(251, 127, 113);
  background: -o-linear-gradient(135deg, #537895, #2e5572, #09203fd7, #09203f);
  background: linear-gradient(-45deg, #537895, #2e5572, #09203fd7, #09203f);
  -webkit-box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
  box-shadow: 0 0 6px 3px rgba(255, 255, 124, 0.849);
}

.form__button_inactive {
  color: rgba(160, 160, 140, 0.849);
  background: -o-linear-gradient(315deg, #f5f7fa 0%, #c3cfe277 100%);
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe277 100%);
  -webkit-box-shadow: 0 0 6px 3px rgba(160, 160, 140, 0.849);
  box-shadow: 0 0 6px 3px rgba(160, 160, 140, 0.849);
}

.form__input_type_error {
  color: rgba(255, 0, 0, 0.671);
}

.form__input_type_error:focus {
  color: rgba(255, 0, 0, 0.671);
}
